body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#fff;
    color: #101010;
}

::selection {
    background-color:#ff293a;
    color: #ffffff;
}

.hide {
    display: none;
}

.show {
    display: block;
}

body::-webkit-scrollbar {
    background: rgb(12 12 12 / 20%);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #101010;
}

body::-webkit-scrollbar-thumb:hover {
    background-color:#fa1226;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

nav img {
    max-width: 400px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
}

.question {
    margin-bottom: 32px;
}

.questions-wrapper {
    margin-bottom: 48px;
    grid-column: 4/-1;
}

.question input {
    color: #909090;
    background-color: white;
    border: 1px solid rgb(12 12 12 / 20%);
    height: 32px;
}

textarea {
    color: #909090;
    border: 1px solid rgb(12 12 12 / 20%);
}

/* main {
    background-image: url(img/bg-lines-1.svg);
    background-repeat: no-repeat;
    background-position: top;
} */

main h1 {
    text-align: center;
    text-transform: uppercase;
    grid-column: 1/-1;
}

main h2 {
    text-align: center;
    grid-column: 1/-1;
}

main p {
    grid-column: 1/-1;
}

main small {
    grid-template-columns: 3/5;
}

main .description {
    text-align: center;
    color: #818181;
}

main .success-text {
    grid-column: 4/-1;
    color: #3ab83e;
    font-size: 26px;
}

main img {
    grid-column: 1/-1;
    position: absolute;
    left: 0;
    z-index: -1;
}

main .logo {
    margin-top: 48px;
    position: static;
    grid-column: 5/8;
    text-align: center;
}

footer {
    grid-column: 1/-1;
}

main .btn {
    grid-column: 4/5;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', serif;
    font-size: 18px;
    padding: 24px 32px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #fff;
    border: 2px solid rgba(144,144,144,0.2);
    color:#ff293a;
    transition: all 300ms ease-in-out;
}

.btn-primary:hover {
    background-color:#f8f8f8;
}

.btn-primary:focus {
    border: 2px solid #ff293a;
}

.btn-primary:active {
    border: 2px solid #ff293a;
}

.ic-arrow {
    position: static;
    z-index: 1;
    width: 24px;
    height: auto;
    margin-right: 12px;
    transition: all 300ms ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    margin: 0 240px;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio" i] {
    margin: 3px 8px 0px 5px;
}

.space-112  {
    display: block;
    height: 112px;
}

.ic-active {
    transform: rotate(45deg);
}

small {
    color: #909090;;
}

small a {
    color:  #101010;
    text-decoration: underline;
    text-decoration-color: #ff293a;
}